.breadcrumb {
    --bs-breadcrumb-padding-x: 1rem;
    --bs-breadcrumb-padding-y: 0.5rem;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: #e9ecef;
    --bs-breadcrumb-border-radius: 0.5rem;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/");
}

.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
}

.breadcrumb-item {
    font-size: 0.875rem;
}

.breadcrumb-item.text-white::before {
    color: #fff;
}

.breadcrumb-dark {
    background-color: #1d407b;
}

.breadcrumb-dark .breadcrumb-item {
    font-weight: 600;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #f8f9fa;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #fff;
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #adb5bd;
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #dee2e6;
}

.breadcrumb-links {
    padding: 0;
    margin: 0;
    background: transparent;
}
