<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to('Dashboard', dashboard_path) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      eCommerce
    </li>
  </ol>
</nav>