<div class="ms-5 mt-2">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% unless @path.nil? %>
          <li class="breadcrumb-item active" aria-current="page"><%= @path %></li>
        <% end %>
      </ol>
    </nav>
  </div>
</div>
