<div class="dropdown" id="profileMenu">
  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="row text-end">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: black;">
        <%= @full_name %>
      </span>
      <small class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: black;"> PARAŞÜT DEMO </small>
    </div>
    <img src="https://github.com/mdo.png" alt="" width="40" height="40" class="rounded-circle mx-2">
  </a>
  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
    <li>
      <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
        <i class='bi bi-person icon' ></i>
        <span class="">Profile</span>
      <% end %>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class='bi bi-gear' ></i>
        <span class="">Settings</span>
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= button_to destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do %>
        <i class='bi bi-box-arrow-left icon' ></i>
        <span class="">Sign Out</span>
      <% end %>
    </li>
  </ul>
</div>
