<div class="profile-box ml-15">
  <button
    class="dropdown-toggle bg-transparent border-0"
    type="button"
    id="profile"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <div class="profile-info">
      <div class="info">
        <h6><%= @full_name %></h6>
        <div class="image">
          <%= image_tag 'profile/profile-image.png' %>
          <span class="status"></span>
        </div>
      </div>
    </div>
    <i class="bi bi-caret-down"></i>
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end"
    aria-labelledby="profile"
  >
    <li>
      <%= link_to edit_user_registration_path do %>
        <i class='bi bi-person icon'></i>
        <span> Profile </span>
      <% end %>
    </li>
    <li>
      <a href="#0"> <i class="bi bi-gear"></i> Settings </a>
    </li>
    <li>
      <%= link_to destroy_user_session_path,
                    data: {'turbo-method': :delete, 'turbo_confirm': 'Are you sure?'} do %>
        <i class="bi bi-box-arrow-left"></i>
        <span>Sign Out</span>
      <% end %>
    </li>
  </ul>
</div>