// Include functions & variables first
@import "bootstrap/functions";
@import "bootstrap/variables";

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Components
@import "devise/login";
@import "devise/reset";
@import "devise/register";

html,
body {
  height: 100%;
  background-image: url("devise-background.jpg");
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.devise-card {
  background-color: #f8f8f8;
}