// 1. Include functions & variables first
@import "bootstrap/functions";
@import "bootstrap/variables";

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Components
@import "devise/login";

html,
body {
  height: 100%;
  background-image: url("devise_background.jpg");
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
