<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-6">
        <div class="header-left d-flex align-items-center">
          <div class="menu-toggle-btn mr-20">
            <button
              id="menu-toggle"
              class="main-btn primary-btn btn-hover"
            >
              <i class="bi bi-caret-left me-2"></i> Menu
            </button>
          </div>
          <div class="header-search d-none d-md-flex">
            <form action="#">
              <input type="text" placeholder="Search..." />
              <button><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-6">
        <div class="header-right">
          <%= render(NotificationMenuComponent.new()) %>
          <%= render(ProfileMenuComponent.new(current_user.display_name)) %>
        </div>
      </div>
    </div>
  </div>
</header>