<nav class="sidebar">
  <header class="mt-2">
    <div class="image-text">
      <span class="image">
        <%= image_tag 'sample-logo.png' %>
      </span>
      <div class="text logo-text">
        <span class="name">NormCRM</span>
      </div>
    </div>
    <i class='bi bi-caret-right toggle'></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <%= link_to(dashboard_path) do %>
            <i class='bi bi-house icon' ></i>
            <span class="text nav-text">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bi bi-bar-chart icon' ></i>
            <span class="text nav-text">Revenue</span>
          </a>
        </li>
        <li class="nav-link">
          <%= link_to(products_path) do %>
            <i class='bi bi-bucket icon' ></i>
            <span class="text nav-text">Products</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
