.form-signin {
  width: 400px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 1;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 6px 6px 0px 0px;
}

.form-signin input[type="password"] {
  margin-bottom: 15px;
  border-radius: 0px 0px 6px 6px;
}

  .signin-wrapper {
  background: $white;
  padding: 10px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;

  .login-form {
    width: 75%;
  }
}